* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^="col-"] {
    background-color: pink;
    border: 1px solid black;
    text-align: center;
    font-size: 1em;
    color: black;
    height: 200px;
    line-height: 200px;
}

.col-6 > .row .col-2,
.col-6 > .row .col-6,
.col-6 > .row .col-8 {
    background-color: rgb(241, 141, 141);
    border: 3px solid pink;
}